%table#history.display{"data-source" => customer_url(format: "json")}
  %thead#customer-history-head
    %tr
      %th=select_tag nil,options_for_select(customer_attributes),
        include_blank: true, prompt: t('.search_by'), class: "pretty-input-data-table"
      %th=select_tag nil,
        options_from_collection_for_select(@users, "surname_with_name", "surname_with_name"),
        include_blank: true, prompt: t('.user_search'),class: "pretty-input-data-table"
      %th= text_field_tag nil, nil,
        type: "text", :name => "daterange", placeholder: t('.last_date'),class: "pretty-input-data-table"
    %tr
      %th= t('.topic')
      %th= t('.user')
      %th= t('.date')
  %tbody
