@import "twitter/bootstrap";

  // sub-header customer
  .appointment-new {
    @extend .btn,  .btn-primary, .btn-xs;
  }
  .appointment-all {
    @extend .btn,  .btn-default, .btn-xs;
  }
  .appointment-month {
    @extend .btn,  .btn-default, .btn-xs;
  }
  .appointment-week {
    @extend .btn,  .btn-default, .btn-xs;
  }
  .appointment-today {
    @extend .btn,  .btn-default, .btn-xs;
  }
  .appointment-print {
    @extend .btn,  .btn-primary, .pull-right, .btn-xs;
  }

  .appointment-save {
    @extend .btn,  .btn-primary, .btn-xs;
  }

  .appointment-danger {
     @extend .btn,  .btn-danger, .btn-xs;
  }

#appointment{
  $GREEN_BUTTON: #5CB85C;
  $GREEN: #4CAE4C;

  // sub-header
  .sub-header {
    display: block;
  }

  .sub-header a{
    margin: 5px;
  }

  // active color of the tabs
  .nav-tabs > li.active > a, .nav-tabs > li.active > a {
    background-color: #E0DFDB !important;
  }

  // tabs customer
  .appointment-tabs {
    border-bottom: 7px solid #dddddd;
    @extend .nav, .nav-tabs;
    li > a {
      padding: 5px;
      @extend .btn, .btn-success;
    }
  }

  // Appointments
  .form-appointments{
    background-color: #E0DFDB;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 25px;
    @include make-row();
    @extend .form-horizontal;
    .input {
      @extend .form-group;
      label:first-child {
        @extend .col-lg-2, .col-sm-offset-1, .control-label;
      }

      label:nth-of-type(2) {
        @extend .col-lg-6, .control-label;
        text-align: left;
      }


      input {
        @extend .col-lg-6;
      }
      select {
        @extend .col-lg-6;
      }
      textarea {
        @extend .col-lg-6;
        background-color: white;
        font-weight:bold;
        resize: none;
      }
      .token_field {
        width:50%;
        float:left;
      }
      .note{
        @extend .col-lg-6;
        font-weight: bold;
        background-color: white;
        border: 1px solid #cccccc;
        border-radius: 4px;
        padding: 6px 12px;
      }
    }
    .input-group-addon {
      font-size: 19px;
    }
  }

  .form-appointments .left, .right {
    @include make-lg-column(6);
    .title { font-size: 15pt; margin: 20px }
  }

  .form-appointments .description-appointments{
    @include make-lg-column(6);
    .title { font-size: 15pt; margin: 20px }
  }

 .pretty-input {
  @extend .form-control
  }

  .pretty-input-data-table {
    height :25px !important;
    padding:1px 12px !important;
    @extend .form-control;
  }

  // handled errors
  .field_with_errors {
    display: inline;
  }

  .dateranges{
    width: 35%;
  }

  .dataTables_wrapper .ui-toolbar {
    padding: 0px;
  }
}
