@import "twitter/bootstrap";

  // sub-header customer
  .appointment-new {
    @extend .btn, .btn-large, .btn-primary;
  }
  .appointment-rank {
    @extend .btn, .btn-large, .btn-default;
  }
  .appointment-all {
    @extend .btn, .btn-large, .btn-default;
  }
  .appointment-month {
    @extend .btn, .btn-large, .btn-default;
  }
  .appointment-week {
    @extend .btn, .btn-large, .btn-default;
  }
  .appointment-today {
    @extend .btn, .btn-large, .btn-default;
  }
  .appointment-print {
    @extend .btn, .btn-large, .btn-primary, .pull-right;
  }

  .appointment-save {
    @extend .btn, .btn-large, .btn-primary;
  }

  .appointment-danger {
     @extend .btn, .btn-large, .btn-danger;
  }

#appointment{
  $GREEN_BUTTON: #5CB85C;
  $GREEN: #4CAE4C;

  // sub-header
  .sub-header {
    display: block;
  }

  .sub-header a{
    margin: 5px;
  }

  // active color of the tabs
  .nav-tabs > li.active > a, .nav-tabs > li.active > a {
    background-color: #E0DFDB !important;
  }

  // tabs customer
  .appointment-tabs {
    @extend .nav, .nav-tabs;
    li > a {
      @extend .btn, .btn-success;
    }
  }

  // Appointments
  .form-appointments{
    background-color: #E0DFDB;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 25px;
    @include make-row();
    @extend .form-horizontal;
    .input {
      @extend .form-group;
      label {
        @extend .col-lg-4, .control-label;
      }
      input {
        @extend .col-lg-4;
      }
      select {
        @extend .col-lg-4;
      }
      textarea {
        @extend .col-lg-4;
      }
      .token_field {
        width:33%;
        float:left;
      }
      .textareawhite{
        // @extend .form-group;
        textarea {
          @extend .col-lg-4;
          background-color: white;
      }
    }

    }


    .input-group-addon {
      font-size: 19px;
    }

  }

  .form-appointments .left, .right{
    @include make-lg-column(6);
    .title { font-size: 15pt;
             margin: 20px; }

    // ul.token-input-list-facebook {
    //   @extend .form-group;
    //   @extend .col-lg-4;
    //   display: inline-block;
    //   min-width: 42%;
    //   margin-left: 15px;
    //   font-size : 14px;
    // }
    // .token-input-dropdown-facebook {
    //   width: auto;
    //   font-size : 14px;
    // }
    // li.token-input-token-facebook {
    //     font-size: 14px;
    //     background-color: $GREEN_BUTTON;
    //     color: white;
    // }

    // li.token-input-selected-token-facebook {
    //     background-color: $GREEN_BUTTON;
    //     border: 1px solid $GREEN_BUTTON;
    //     color: #fff;
    // }

    // // div li.token-input-token-facebook span {
    // //     color: $GREEN_BUTTON;

    // // }
    // li.token-input-token-facebook span {
    //   color: white;
    // }
    // .token-input-dropdown-facebook p {
    //     color: $GREEN_BUTTON;
    // }


    // .token-input-dropdown-facebook ul li.token-input-selected-dropdown-item-facebook {
    //     background-color: $GREEN_BUTTON;
    //     color: #fff;
    // }
  }

  .form-appointments .description-appointments{
    @include make-lg-column(6);
    .title { font-size: 15pt;
             margin: 20px; }
  }

 .pretty-input {
  @extend .form-control
  }

  // handled errors
  .field_with_errors {
    display: inline;
  }


  // .div_property {
  //   display:inline-block;
  // }




}