.menu-head {
  @extend .nav, .nav-justified;
}

.menu-head li > a {
  @extend .btn, .btn-success;
  padding: 0px;
  border-radius: 0px;
}

.menu-head li:last-child a  {
  @extend .btn-danger;
}

ul.menu-head {
  a {
    &:hover{
      color: #0AC159;
      background-color: #B7FCD5;
    }
    &.active{
      color: #0AC159;
      background-color: #B7FCD5;
    }
  }
}
