#landing-page {
  #lastest-changes tbody tr td:first-child a {
    color: black;
    font-weight: bold;
    &:hover { color: #2a6496 }
  }

  .dataTables_wrapper .ui-toolbar {
    padding: 0px;
  }
  .pretty-input-data-table {
    height :25px;
    padding:1px 12px;
    @extend .form-control;
    width: 190px;
  }
}
