#landing-page {
  #lastest-changes tbody tr td:first-child a {
    color: black;
    font-weight: bold;
    &:hover { color: #2a6496 }
  }

  .dataTables_wrapper .ui-toolbar {
    padding: 0px;
  }
}
