@import "twitter/bootstrap";

// sub-header
.sub-header {
  display: block;
}

.sub-header a{
  margin: 5px;
}

// sub-header customer
.property-new {
  @extend .btn, .btn-primary, .btn-xs;
}

.property-print {
  @extend .btn, .btn-primary, .btn-xs, .pull-right;
}

.property-save {
  @extend .btn, .btn-primary, .btn-xs;
}

.property-danger {
   @extend .btn, .btn-danger, .btn-xs;
}

.property-remove {
  @extend .btn, .btn-warning, .btn-xs;
}

div.property-tabs-content div.tab-pane { margin-left: 0px !important}

// New and Edit Property
// ---------------------
.nav-tabs > li.active > a, .nav-tabs > li.active > a {
  background-color: #E0DFDB !important;
}

#new_property, form[id*='edit_property_'] {
  background-color: #E0DFDB;
  padding-left: 40px;
  padding-right: 40px;
}

.pretty-input {
  @extend .form-control
}

#properties {

  .pretty-input-data-table {
      height :25px !important;
      padding:1px 12px !important;
      @extend .form-control;
  }

  .aligned-input {
    @extend .input-group, .input-group-sm;
  }

  .pretty-input-range {
    height :25px !important;
    width: 70px !important;
    padding:1px 12px !important;
    @extend .form-control;
  }

  .pretty-input-select {
    height :25px !important;
    width: 100px !important;
    padding:1px 12px !important;
    @extend .form-control;
  }
}

.pretty-check {
 @extend .checkbox
}

form[id*='edit_property_'], #new_property .detail, .general {
  @extend .form-horizontal;
  @include make-row();
  .left, .right {
    @include make-lg-column(6);
    .title { font-size: 15pt; margin: 20px;}
  }
  .input {
    @extend .form-group;
  }
  .input label {
    @extend .col-lg-2, .control-label;
  }
  .input select, input, textarea {
    @extend .col-lg-6;
    resize: none;
  }
  .token_field {
    width:50%;
    float:left;
  }
  .transaction { @extend .form-horizontal }
  .transaction .thorizontal { @extend .form-group }
  .transaction .tcheck { @extend .col-lg-2 }
  .transaction .tcheckbox { @extend .checkbox }
  .transaction .tinput > label { @extend .control-label }
  .transaction .thorizontal .tlabel { @extend .col-lg-1, .col-sm-offset-1 }
  .transaction .thorizontal .tinput { @extend .col-sm-5, .col-sm-offset-1 }
}

.property-tabs {
   border-bottom: 8px solid #dddddd;
  @extend .nav, .nav-tabs;
  li > a {
    padding: 5px;
    @extend .btn, .btn-success
  }
}

.property-tabs-content { @extend .tab-content }

// Show Property
// -------------
.property-tabs-content #show-map {
  background-color: #E0DFDB;
  #map { @extend .col-lg-offset-2 }
}

ul.property-tabs .nmro-ref{
  padding-top: 10px;
  color: #357ebd;
  font-weight:bold;
  text-align: left;
  &:hover { color: #4cae4c }
}

#general-show-property, #detail-show-property, #show-photos {
  background-color: #E0DFDB;
  @include make-row();
  @extend .form-horizontal;
  .input {
    @extend .form-group;
    label:first-child {
      @extend .col-lg-2, .col-sm-offset-1, .control-label;
    }
    label:nth-of-type(2) {
      @extend .col-lg-6, .control-label;
      text-align: left;
    }

    textarea {
      @extend .col-lg-6;
      background-color: white;
      font-weight:bold;
      resize: none;
    }
  }
  .left, .right {
    @include make-lg-column(6);
    .title { font-size: 15pt;
           margin: 20px; }
  }
  .note{
    @extend .col-lg-6;
    font-weight: bold;
    background-color: white;
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 6px 12px;
  }

  a.gallery > img {
    margin: 20px;
    padding-top: 20px;
  }
}

#general #map { @extend .col-lg-offset-2 }

// Photo
// -----
.pictures {
  @extend .container
}
.photo {
  @extend .col-lg-3;
  margin: 10px;
  .image {
    @extend .img-thumbnail;
  }
   a.remove_fields {
    margin-left: 4px;
    text-align: center;
    margin-top: 10px;
    max-width: 200px;
    display: block;
    @extend  .btn, .btn-danger, .btn-sm;
  }
  input {
    margin-left: 4px;
    text-align: center;
    margin-top: 10px;
    max-width: 200px;
    display: block;
  }
}

.multiselect{
   @extend  .btn, .btn-default, .btn-sm;
   width:100%;
   font-size: 14px;
   height :25px !important;
   padding:1px 12px !important;
}

div.btn-group{
    width:100%;
   button.multiselect.dropdown-toggle.btn{
      width:100% !important;
    }
}

.photo input[type="file"] {
  margin-top: 10px;
}

.picture-add > a{
  margin: 10px;
  @extend  .btn, .btn-primary, .btn-sm;
}

.dataTables_wrapper .ui-toolbar {
  padding: 0px;
}

// handled errors
// --------------
.field_with_errors {
  display: inline;
}

#map img {
  max-width: none;
}
#map label {
  width: auto; display:inline;
}
