@import "twitter/bootstrap";

// sub-header
.sub-header {
  display: block;
}

.sub-header a{
  margin: 5px;
}

// sub-header customer
.property-new {
  @extend .btn, .btn-lg, .btn-primary;
}

.property-print {
  @extend .btn, .btn-lg, .btn-primary, .pull-right;
}

.property-save {
  @extend .btn, .btn-lg, .btn-primary;
}

.property-danger {
   @extend .btn, .btn-lg, .btn-danger;
}

// New and Edit Property
// ------------
.nav-tabs > li.active > a, .nav-tabs > li.active > a {
  background-color: #E0DFDB !important;
}

#new_property, form[id*='edit_property_'] {
  background-color: #E0DFDB;
  padding-left: 40px;
  padding-right: 40px;
}

.pretty-input {
  @extend .form-control
}
.pretty-check {
 @extend .checkbox
}

.detail, .general {
  @extend .form-horizontal;
  @include make-row();

  div {
    @extend .form-group;
  }
  div label {
    @extend .col-lg-2, .control-label;
  }
  div select, input, textarea {
    @extend .col-lg-6;
  }
}

.detail .left, .right, .general .left, .right {
  @include make-lg-column(6);
  .title { font-size: 15pt; }
}

.property-tabs {
  @extend .nav, .nav-tabs;
  li > a { @extend .btn, .btn-lg, .btn-success }
}

.property-tabs-content { @extend .tab-content }

// Photo
// -----
.pictures {
  @extend .container
}
.photo {
  @extend .col-lg-3;
  margin: 10px;
  .image {
    @extend .img-thumbnail;
  }
   a.remove_fields {
    margin-left: 4px;
    text-align: center;
    margin-top: 10px;
    max-width: 200px;
    display: block;
    @extend  .btn, .btn-danger, .btn-sm;
  }
  input {
    margin-left: 4px;
    text-align: center;
    margin-top: 10px;
    max-width: 200px;
    display: block;
  }
}

.photo input[type="file"] {
  margin-top: 10px;
}

.picture-add > a{
  margin: 10px;
  @extend  .btn, .btn-primary, .btn-sm;
}

// handled errors
// --------------
.field_with_errors {
  display: inline;
}
