.container
  %h1 Inmobilaria Gutierrez
  %p.lead Atras de un buen hogar hay una gran Inmobiliaria
  %p
    %a.btn.btn-outline-inverse.btn-lg{href: "http://www.gutierrezinmo.com.ar/"} Inmobilaria Gutierrez